.example-card {
  max-width: 600px;
  margin-top: 25px;
}


// .mat-mdc-tab-header.mat-mdc-tab-nav-bar-stretch-tabs .mat-mdc-tab-link {
//   flex-grow: unset; // ou 1
// }

/*
element.style {
    margin-left: 80px;
    margin-top: 60px;
    overflow: auto;
}*/