<mat-card class="list-contributions-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Liste des contributions</mat-card-title>
    <span class="toolbar-spacer"></span>
    <div class="contributions-action-button-container">
      <button
        class="large-image"
        (click)="exportListPdf()"
        mat-icon-button
        matTooltip="Exporte la liste en PDF"
        aria-label="Exporte la liste en PDF"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Exporte la liste en PDF"
          fontIcon="picture_as_pdf"
          class="contributions-action-icon"
        ></mat-icon>
      </button>
      <button
        (click)="newContribution()"
        class="large-image"
        mat-icon-button
        matTooltip="Nouvelle contribution"
        aria-label="Nouvelle contribution"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Nouvelle contribution"
          fontIcon="add"
          class="contributions-action-icon"
        ></mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content style="margin-top: -20px">
    <div class="contribution-list-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="contributionSortChange($event)"
        matSortActive="date"
        matSortDirection="desc"
        matSortDisableClear
      >
        <ng-container matColumnDef="date" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date: 'dd/MM/yyyy HH:mm' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
          <td mat-cell *matCellDef="let element">
            {{ element.amount | currency: 'EUR' : 'symbol-narrow' : '1.0-2' : 'fr-FR' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="donor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Donateur</th>
          <td mat-cell *matCellDef="let element">{{ element.donor }}</td>
        </ng-container>

        <ng-container matColumnDef="beneficiary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bénéficiaire</th>
          <td mat-cell *matCellDef="let element">{{ element.beneficiary }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
          <td mat-cell *matCellDef="let element">{{ getCategoryLabel(element.category) }}</td>
        </ng-container>

        <ng-container matColumnDef="modification">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" aria-label="edit" matTooltip="Modifier" (click)="onEditRowClicked(element)"
              >edit</mat-icon
            >
            <mat-icon
              aria-hidden="false"
              aria-label="delete"
              matTooltip="Supprimer"
              color="warn"
              (click)="confirmDelete(element)"
              >delete</mat-icon
            >
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>

  <mat-card-footer class="example-card-footer">
    <mat-paginator
      showFirstLastButtons
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
